{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="parse_articles/" method="POST">
            {% csrf_token %}
                <button type="submit">Execute crawler.</button>
        </form>
        <form action="put_into_elastic/" method="POST">
            {% csrf_token %}
                <button type="submit">Execute connector.</button>
        </form>
        <form action="compute_pagerank/" method="POST">
            {% csrf_token %}
                <button type="submit">Compute pagerank.</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}