<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Woogle</title>
    <link rel="stylesheet" href="{% static "css/style_search_page.css" %}" />
    <script src="{% static "js/search_page_main.js" %}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


</head>
<body>
{#    search form     #}
    <form class="form-wrapper">
        <input type="text" id="search" placeholder="Search for..." required onkeyup="send_user_query()">
        <input type="submit" value="Search" id="submit">
    </form>

    <form class="cl_form_list_view" id="id_form_list_view">
    </form>


</body>
</html>